<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %> <%- include('./partials/secnav.ejs')
    %>

    <div class="picture-container">
      <% if (movies.length > 0) { %>
        <% movies.forEach(movie => { %>
           <img src="<%= movie.image.url %>" class="cards">
          <%}) %>
          <% } else { %>
          <h2>Det finns inga filmer tillgängliga...</h2>
        <% } %>
    </div>

    <div class="modal-container">
      <div class="cinema-modal"></div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
